:root {
	--c-primary: #2c3333;
	--c-disabled: rgb(81, 81, 81);
	--c-hover: hsl(180, 7%, 30%);
	--c-active: hsl(180, 7%, 25%);
	--c-primary-accent: hsl(180, 7%, 40%);
	--c-secondary: #395b64;
	--c-accent: #a5c9ca;
	--c-text: #e7f6f2;
}
