* {
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
}
body {
	margin: 0px;
}

.container {
	position: relative;
}

.backgroundCanvas {
	background-color: #ccc;
}

.mainHSplit {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 5px;
	grid-row-gap: 5px;
}

.uiWrapper {
	display: grid;
	grid-template-columns: 1fr 15fr;
	grid-template-rows: 1fr;
	grid-column-gap: 5px;
	grid-row-gap: 5px;
}

.button-array {
	display: flex;
	justify-content: stretch;
}

.button-array > .button.tool {
	flex: 1;
	border-radius: 0;
}

.button-array > .button.tool:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.button-array > .button.tool:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.button.tool {
	background-color: rgb(0, 0, 50);
	color: rgb(255, 255, 255);
	border-radius: 5px;
	cursor: pointer;
	border: none;
	text-align: center;
	outline: none;
	font-size: 15px;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.button.tool:disabled {
	background-color: #666 !important;
	cursor: default;
}

.button.tool:hover {
	background-color: rgb(30, 30, 80);
}
.button.tool:active {
	background-color: rgb(60, 60, 130);
}

.collapsible {
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
	border: none;
	text-align: center;
	outline: none;
	font-size: 15px;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.collapsible:hover {
	background-color: #777;
}

.content {
	max-height: 0;
	overflow-y: clip;
	overflow-x: visible;
	transition: max-height 0.2s ease-out, height 0s ease-out;
}

.menu-container {
	background-color: rgba(255, 255, 255, 0.5);
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;

	color: black;
	border: solid;
	border-top: none;
	border-color: black;
	font-size: medium;
	text-align: left;
	max-height: fit-content;
	overflow: visible;
	cursor: auto;
}

.canvasHolder {
	position: relative;
	width: 2560px;
	height: 1440px;
}

.mainCanvases {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 2560px;
	height: 1440px;
}

.masks {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.maskCanvasMonitor .overMaskCanvasMonitor .initImgCanvasMonitor {
	position: absolute;
}

.maskPaintCanvas {
	filter: opacity(40%);
}

.strokeText {
	-webkit-text-stroke: 1px #000;
	font-size: 150%;
	font-weight: 600;
	color: #fff;
}

#models {
	width: 100%;
	text-overflow: ellipsis;
}

/* Host input */
.host-field-wrapper {
	position: relative;
	display: flex;

	align-items: center;
	justify-content: space-between;

	width: 100%;
	height: fit-content;
}

.host-field-wrapper input {
	display: block;
}

.host-field-wrapper .connection-status {
	width: 15px;
	height: 15px;

	box-sizing: inherit;

	border-radius: 50%;
	margin: 5px;

	cursor: pointer;

	aspect-ratio: 1;
}

.host-field-wrapper .connection-status:hover {
	width: 19px;
	height: 19px;

	margin: 3px;
}

.host-field-wrapper .connection-status:active {
	width: 17px;
	height: 17px;

	margin: 4px;
}

.host-field-wrapper .connection-status.online {
	background-color: #49dd49;
}

.host-field-wrapper .connection-status.offline {
	background-color: #dd4949;
}

.host-field-wrapper .connection-status.cors-issue {
	background-color: #dddd49;
}

input#host {
	box-sizing: border-box;
}

/* Prompt Fields */

div.prompt-wrapper {
	overflow: visible;
}

div.prompt-wrapper > textarea {
	margin: 0;
	padding: 0;

	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0;

	resize: vertical;
}

div.prompt-wrapper > textarea:focus {
	width: 700px;
}
