/* UI Floating Windows */
.floating-window {
	position: fixed;
	width: 250px;
	height: auto;
	z-index: 999;
}

.floating-window-title {
	cursor: move;
	background-color: rgba(104, 104, 104, 0.75);

	user-select: none;

	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: auto;
	font-size: 1.5em;
	color: black;
	text-align: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border: solid;
	border-bottom: none;
	border-color: black;
}

.draggable {
	cursor: move;
}

/* Slider Input */
div.slider-wrapper {
	margin: 5px;
}

div.slider-wrapper {
	position: relative;
	height: 20px;
	border-radius: 5px;
}

div.slider-wrapper * {
	height: 20px;
	border-radius: 5px;
	margin: 0;
}

div.slider-wrapper > * {
	position: absolute;
	padding: inherit;
	width: 100%;

	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	overflow: hidden;
}

div.slider-wrapper > div.under {
	display: flex;
	background-color: var(--c-primary-accent);
}
div.slider-wrapper > div.under > div:first-child {
	background-color: var(--c-primary);
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
div.slider-wrapper > div.under > div:last-child {
	flex: 1;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
div.slider-wrapper > div.under > * {
	height: 100%;
}

div.slider-wrapper > div.over {
	cursor: pointer;
}

div.slider-wrapper > input.text {
	color: var(--c-text);

	flex: 1;
	appearance: textfield;
	border: 0px;

	height: 100%;
	text-align: center;
	background-color: transparent;
}

/* Select Input */
select > option:checked::after {
	content: "";

	position: absolute;
	right: 5px;
	top: 0;

	height: 100%;
	aspect-ratio: 1;

	background-color: darkgreen;

	-webkit-mask-image: url("/res/icons/check.svg");
	-webkit-mask-size: contain;
	mask-image: url("/res/icons/check.svg");
	mask-size: contain;
}
/*************/
/* UI styles */
/*************/

/* The separator */
.ui.separator {
	width: 80%;
	margin: auto;
	align-self: center;
	border-top: 1px var(--c-hover) solid;
}

/* Icon button */
.ui.square {
	aspect-ratio: 1;
}

.ui.button {
	cursor: pointer;

	padding: 0;
	margin: 0;
	border: 0;
	color: var(--c-text);
	background-color: var(--c-primary);
	transition-duration: 50ms;
}

.ui.button:hover {
	background-color: var(--c-hover);
}

.ui.button:active {
	background-color: var(--c-hover);
	filter: brightness(120%);
}

.ui.button.icon {
	display: flex;
	align-items: stretch;
}

.ui.button.icon > *:first-child {
	flex: 1;
	margin: 3px;

	-webkit-mask-position: center;
	mask-position: center;

	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	background-color: var(--c-text);
}
